body {
	background-color: rgb(237,237,237);
	text-align: center;
}

a:link {
	color: rgb(0,0,0);
	text-decoration: none;
	display: block;
}
a:visited {
	text-decoration: none;
	color: rgb(0,0,0);
	display: block;
}
a:hover {
	text-decoration: underline;
	color: #FF9900;
	display: block;
}
a:active {
	text-decoration: none;
	color: rgb(0,0,0);
	display: block;
}

#homepage {
	width: 920px;
	margin: auto;
	background-color: #FFFFFF;
}

#header {
	width: 920px;
	height: 163px;
	background-color: rgb(255,255,255);
}

#home {
	width: 910px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: rgb(255,255,255);
}


#überheader {
	height: 40px;
	background-color: rgb(237,237,237);
}

#navi1 {
	background-color: rgb(255,143,0);
	width: 180px;
	height: 200px;
	float: left;
}
#navi2 {
	background-color: rgb(255,143,0);
	width: 180px;
	height: 200px;
	float: left;
}
#navi3 {
	background-color: rgb(255,143,0);
	width: 180px;
	height: 200px;
	float: left;
}
#navi4 {
	background-color: rgb(255,143,0);
	width: 180px;
	height: 200px;
	float: left;
}
#navi5 {
	background-color: rgb(255,143,0);
	width: 180px;
	height: 200px;
	float: left;
	margin-bottom: 60px;
}

#footer {
	clear: both;
	width: 900px;
	background-color: #FFFFFF height :51px;
}

#menue {
	background-color: #CCCCCC;
	width: 170px;
	float: left;
}

#karte {
	position: relative;
	width: 250px;
	height: 327px;
	float: right;
	right: 80px;
	top: 5px;
}
.zeiten {
	min-width: 350px;
}

#bildergalerie {
	text-align: left;
}
#bild {
	width: 260px;
}
#bild:hover {
	border: #FF9900 5px double;
}

#nebenh2 {
	font-weight: normal;
}

#überschrift {
	margin-left: 5px;
}

#sortiment {
	float: left;
	width: 150px;
	margin: 30px;
	margin-left: 0px;
	padding: 10px;
	border: #000000 2px dashed;
	display: block;
}
#sortiment:hover {
	border: #F78F36 2px solid;
	display: block;
}
#sortiment h2 {
	text-align: center;
	display: block;
}

#prodlist {
	width: 250px;
	margin: 30px;
	margin-left: 0px;
	padding: 10px;
	border: #000000 2px dashed;
	display: block;
	float: left;
}
#prodlist ul li:hover {
	cursor: pointer;
	color: #F78F36;
}
.beschreibung {
	display: none;
	width: 350px;
	float: left;
	margin-top: 30px;
	background-color: #EAEAEA;
	border-radius: 5px;
	padding: 10px;
	font-family: Arial;
}
.rec_main {
	width: 600px;
	padding-top: 8px;
	padding-bottom: 8px;
}
.rec_title {
	display: block;

}
.rec_desc {
	display: none;
	background-color: #EAEAEA;
	border-radius: 6px;
	padding: 3px;
	padding-left: 5px;
}
.hover:hover {
	color: #F78F36;
	cursor: pointer;
	text-decoration: underline;
}

.druckzeichen {
	float: right;
	cursor: pointer;
}

.pdf_frame {
	width: 100%;
	height: 980px;
}

.rec_text {
	margin-top: 10px;
}
