body {
	background-color: rgb(237,237,237);
	text-align: center;
}

a img {
	border: 0;
}

a:link {
	color: rgb(0,0,0);
	text-decoration: none;
	display: block;
}
a:visited {
	text-decoration: none;
	color: rgb(0,0,0);
	display: block;
}
a:hover {
	text-decoration: underline;
	color: #FF9900;
	display: block;
}
a:active {
	text-decoration: none;
	color: rgb(0,0,0);
	display: block;
}

#homepage {
	width: 920px;
	margin: auto;
	background-color: #FFFFFF;
}

#header {
	width: 920px;
	height: 163px;
	background-color: rgb(255,255,255);
	border: white;
}
#header img {
	width: 920px;
	height: 180px;
}

#home {
	width: 910px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: rgb(255,255,255);
}

#ueberheader {
	height: 40px;
	background-color: rgb(237,237,237);
}

#navi1 {
	background-color: rgb(255,143,0);
	width: 180px;
	height: 200px;
	float: left;
}
#navi2 {
	background-color: rgb(255,143,0);
	width: 180px;
	height: 200px;
	float: left;
}
#navi3 {
	background-color: rgb(255,143,0);
	width: 180px;
	height: 200px;
	float: left;
}
#navi4 {
	background-color: rgb(255,143,0);
	width: 180px;
	height: 200px;
	float: left;
}
#navi5 {
	background-color: rgb(255,143,0);
	width: 180px;
	height: 200px;
	float: left;
	margin-bottom: 60px;
}

#footer {
	clear: both;
	width: 900px;
	background-color: #FFFFFF;
	height: 51px;
	margin-left:0px;
	background-image: url(../img/hp_fuss_leer.jpg);
}


.impressum {
	margin-left: 320px;
	margin-top: 17px;
	float:left;
}

.daten {
	margin-left: 20px;
	margin-top:17px;
	float: left;
}

#menue {
	background-color: #CCCCCC;
	width: 170px;
	float: left;
	margin-top: 10px;
}

.back:hover {
}

#karte {
	position: relative;
	width: 250px;
	height: 327px;
	float: right;
	right: 80px;
	top: 5px;
}
.zeiten {
	min-width: 350px;
}

#bildergalerie {
	float: left;
}

.galerie_left {
	width: 310px;
	float: left;
}

.galerie_right {
	width: 310px;
	float: left;
}

.bild {
	width: 300px;
	margin: 5px;
	float: left;
}
.bild img:hover {
	border: double #FF9900 5px;
	margin: 0px;
}
.bild img {
	width: 290px;
	margin: 5px;
}

#nebenh2 {
	font-weight: normal;
}

#ueberschrift {
	margin-left: 5px;
}

.sortiment {
	clear: both;
}

#sortunter {
	float: left;
	width: 150px;
	margin: 30px;
	margin-left: 0px;
	padding: 10px;
	border: #000000 2px solid;
	display: block;
}
#sortunter:hover {
	border: #F78F36 2px solid;
	display: block;
}
#sortunterh2 {
	text-align: center;
	display: block;
}

#prodlist {
	width: 550px;
	margin: 0px;
	margin-left: 0px;
	padding: 10px;
	display: block;
	float: left;
}

.links {
	float: left;
	display:table;
	width: 200px;
	//border: 1px solid red;
}


.links img {
	//border: 1px solid black;
	display:table-cell;
	//margin-top: 30px;
	margin-right: 20px;
	margin: 20px;
	//padding-right: 20px;
	//padding-top: 20px;
}

.logo {
	display: table-cell;
}

.logo_row {
	display: table-row;
}


.rec_main {
	width: 600px;
	padding-top: 8px;
	padding-bottom: 8px;
}
.rec_title {
	display: block;
}
.rec_desc {
	display: none;
	background-color: #EAEAEA;
	border-radius: 6px;
	padding: 3px;
	padding-left: 5px;
}
.hover:hover {
	color: #F78F36;
	cursor: pointer;
	text-decoration: underline;
}

.druckzeichen {
	float: right;
	cursor: pointer;
}

.pdf_frame {
	width: 100%;
	height: 980px;
}

.rec_text {
	margin-top: 10px;
}
